@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
  --bg-box: hsl(207, 28%, 27%);
  --body-bg: hsl(0, 0%, 94%);
  --bg-header: hsl(0, 8%, 93%);
  --bg-header-mobile: hsl(0, 0%, 100%);
  --bg-btn: hsla(205, 13%, 81%, 0.575);
  --subtitle: hsl(39, 100%, 50%);
  --body-color: hsl(240, 100%, 50%);
  --title: hsl(130, 100%, 44%);
  --link-color: hsl(0, 0%, 0%);
  --link-color-hover: hsl(0, 0%, 50%);
  --border-botton: hsla(0, 0%, 100%, 0.267);
  --color-footer: hsl(240, 100%, 50%);
  --bg-footer: hsl(0, 8%, 93%);
  --bg-clock: hsl(0, 0%, 93%);
  --color-clock: hsl(240, 100%, 50%);
}
.dark-mode:root {
  --bg-box: hsl(0, 0%, 13%);
  /* --body-bg: hsl(0, 0%, 16%); */
  --bg-header: hsla(0, 0%, 0%, 0.3);
  --bg-header-mobile: hsl(0, 0%, 0%);
  --bg-btn: hsl(0, 0%, 20%);
  --subtitle: hsl(130, 100%, 44%);
  --body-color: hsl(0, 96%, 49%);
  --title: hsl(0, 0%, 100%);
  --link-color: hsl(0, 0%, 94%);
  --link-color-hover: green;
  --border-botton: hsla(0, 0%, 100%, 0.267);
  --color-footer: hsl(0, 0%, 93%);
  --bg-footer: hsla(0, 0%, 0%, 0.3);
  --bg-clock: hsl(0, 0%, 20%);
  --color-clock: hsl(0, 0%, 93%);
}

/* Replace body background variable */
.dark {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: hsl(0, 0%, 16%);
  background-size: 16px 16px;
}

* {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--body-color);
  color: var(--bg-btn);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--bg-box);
}

html::-webkit-scrollbar-thumb {
  background: var(--body-color);
}

body {
  background: var(--body-bg);
  color: var(--body-color);
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.btn {
  padding: 0.7rem 3rem;
  background: var(--bg-btn);
  color: var(--link-color);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 0.625rem;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background: var(--link-color-hover);
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--border-botton);
  color: var(--title);
}

.heading span {
  color: var(--body-color);
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: var(--bg-header);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.5rem solid var(--body-color);
}

header .user .name {
  font-size: 3.5rem;
  color: var(--title);
}

header .user .post {
  font-size: 2rem;
  color: var(--subtitle);
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: var(--bg-btn);
  color: var(--link-color);
  font-size: 2rem;
  border-radius: 0.625rem;
}

header .navbar ul li a:hover {
  background: var(--link-color-hover);
}

/* The slides replace the body background. */
.slider1 {
  background: hsl(237, 53%, 55%);
  background: -webkit-linear-gradient(
    to left,
    hsl(130, 100%, 44%),
    hsl(237, 53%, 55%)
  );
  background: linear-gradient(to left, hsl(130, 100%, 44%), hsl(237, 53%, 55%));
}

.slider2 {
  background: hsl(237, 53%, 55%);
  background: -webkit-linear-gradient(
    to left,
    hsl(237, 93%, 77%),
    hsl(237, 53%, 55%)
  );
  background: linear-gradient(to left, hsl(237, 93%, 77%), hsl(237, 53%, 55%));
}

.slider3 {
  background: hsl(130, 100%, 44%);
  background: -webkit-linear-gradient(
    to left,
    hsl(237, 93%, 77%),
    hsl(130, 100%, 44%)
  );
  background: linear-gradient(to left, hsl(237, 93%, 77%), hsl(130, 100%, 44%));
}

.slider4 {
  background: hsl(130, 100%, 44%);
  background: -webkit-linear-gradient(
    to left,
    hsl(121, 93%, 77%),
    hsl(130, 100%, 44%)
  );
  background: linear-gradient(to left, hsl(121, 93%, 77%), hsl(130, 100%, 44%));
}

/* Clock */
.clock {
  position: fixed;
  background: var(--bg-clock);
  color: var(--color-clock);
  border-radius: 5px;
  justify-content: center;
  width: 17%;
  top: 2rem;
  right: 26rem;
  font-size: 2.5rem;
  z-index: 1000;
}
/* Mobile toggle menu*/
#toggle {
  cursor: pointer;
  overflow: hidden;
  top: 2rem;
  right: 2rem;
  width: 40px;
  height: 35px;
  background: var(--bg-btn);
  border-radius: 1px;
  box-shadow: 0 3px 7px 0 var(--bg-header-mobile);

  position: fixed;
  display: none;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;

  align-items: center;
  justify-content: center;
}

.line-toggle {
  position: absolute;
  display: block;
  width: 2rem;
  height: 0.3rem;
  background: var(--title);
  border-radius: 5px;
  transition: all 0.6s;
}

.line-toggle:first-child {
  transform: translateY(-7px) translateX(0px);
  width: 2rem;
  transition-delay: 0s;
}

.toggle .line-toggle:nth-child(2) {
  transition-delay: 0.12s;
}

.line-toggle:last-child {
  transform: translateY(7px) translateX(0px);
  width: 2rem;
  transition-delay: 0s;
}

.toggle.activate .line-toggle:first-child {
  background: var(--body-color);
  transform: translateY(0) translateX(0) rotate(45deg);
  width: 25px;
  height: 0.3rem;
  transition-delay: 0.1s;
}

.toggle.activate .line-toggle:nth-child(2) {
  transform: translateX(110px);
  transition-delay: 0s;
}

.toggle.activate .line-toggle:last-child {
  background: var(--body-color);
  transform: translateY(0) translateX(0) rotate(314deg);
  width: 25px;
  height: 0.3rem;
  transition-delay: 0.1s;
}
/* Home */

.home .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  margin-left: 35%;
  left: 4rem;
  border: 0.5rem solid hsl(130, 100%, 44%);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}

.home h3 {
  font-size: 2.5rem;
  color: var(--title);
}

.home h1 {
  font-size: 5rem;
  color: var(--title);
}

.home h1 span {
  color: var(--body-color);
}

.home p {
  font-size: 2rem;
  color: var(--subtitle);
  padding: 1rem 0;
}

/* About */

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.about .row .info h3 {
  font-size: 2rem;
  color: var(--red);
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info h3 span {
  color: var(--subtitle);
  padding: 0 0.5rem;
}

.about .row .counter {
  flex: 1 1 48rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 5rem;
}

.box {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.about .row .counter .box {
  width: 20rem;
  background: var(--bg-box);
  text-align: center;
  border-radius: 0.625rem;
  padding: 2rem;
  margin: 1rem;
}

.about .row .counter .box span {
  font-size: 4rem;
  color: var(--body-color);
}

.about .row .counter .box h3 {
  font-size: 2rem;
  color: var(--title);
}

.about .box:hover {
  transform: scale(1.05);
}

/* Skills */

.skills .counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills .counter .box {
  width: 20rem;
  background: var(--bg-btn);
  text-align: center;
  border-radius: 0.625rem;
  padding: 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.skills .counter span {
  font-size: 2.3rem;
  color: var(--red);
}

.skills .box:hover {
  transform: scale(1.05);
}
/* Certification */

.certification .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.certification .box-container .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.certification .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  color: var(--title);
}

.certification .box-container .box:hover img {
  transform: scale(1.2);
}

/* Projects */

.portfolio .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .box-container .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  color: var(--title);
}

.portfolio .box-container .box:hover img {
  transform: scale(1.2);
}

/* The switch - the box around the slider */
.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 2rem;
  right: 8rem;
  font-size: 12px;
  text-align: center;
  padding: 1rem 1.5rem;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  transition: all 0.15s ease-in-out;
}
/* The switch2 - the box around the slider */
.switch2 {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 2rem;
  right: 16rem;
  font-size: 12px;
  padding: 1rem 1.5rem;
  line-height: 20px;
  transition: all 0.15s ease-in-out;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-btn);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* Turn off dark mode and turn on light mode */
.switch > span:before {
  content: attr(Off-Light);
  position: absolute;
}
/* Disable background slide */
.switch2 > span:before {
  content: attr(Off);
  position: absolute;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-header);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: hsl(0, 0%, 35%);
}

input:focus + .slider {
  box-shadow: 0 0 1px orangered;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Turn on dark mode */
.switch > input:checked + span::before {
  content: attr(On-Dark);
  left: 1px;
}
/* Enable background slide */
.switch2 > input:checked + span::before {
  content: attr(On);
  left: 1px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Footer */
footer {
  min-width: 100%;
  background: var(--bg-footer);
  margin-top: 11%;
  color: var(--color-footer);
  text-align: center;
  font-size: 1.5rem;
}

/* Responsive */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #toggle {
    display: flex;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }

  .home .user img {
    display: flex;
    margin-left: 40%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  header {
    background: var(--bg-header-mobile);
  }
  .home .user img {
    display: flex;
    margin-left: 30%;
  }
  .clock {
    font-size: 1.7rem;
    width: 35%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .about .row .counter .box {
    width: 100%;
  }

  .certification .box-container .box {
    width: 100%;
  }

  .portfolio .box-container .box {
    width: 100%;
  }
}
